<html>
        <head>
                <link rel="stylesheet" href="style.css">
        </head>
    <body>
        <h1> <a href="/">Home </a> &nbsp <a href="/listtask.html">List all task</a></h1>
        <form action ="/addNewTask" method="POST">
            Task Name
            <input type="text" name="taskName">
            <br>Task Due
            <input type="text" name="taskDue">
            <br>Task Desc
            <input type="text" name="description">
            <br>
            <br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>